@model IEnumerable<LanchesMac.Models.Lanche>


<div>
    <h2>@ViewData["Titulo"]</h2>
</div>
@ViewData["Data"]

<hr/>
    @ViewBag.Lanches
<hr/>

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"/></p>
        <p>@lanche.Preco.ToString("C")</p>
    </div>
}
